---
# Based on ansible-lint config
extends: default

ignore: |
  /.ansible/
  /build/
  /.git/
  /tmp/
  /.venv/
  /.virtualenv/

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  # TODO - Revisit this configuration
  comments: disable
  comments-indentation: disable
  line-length: disable

...

# vim: filetype=yaml
