---
- name: Common Ansible Playbook
  gather_facts: true
  hosts: all
  vars:
    phdz_defaults_user: pedro
    phdz_defaults_group: pedro
    phdz_defaults_home: /home/pedro.linux # FIXME - Drop .linux

  roles:
    - phdz_linux_baseline
    - phdz_nix
    - phdz_dev_user
