---
- name: Prime the user's configurations and dotfiles (must not run as sudo)
  become: false
  gather_facts: true
  hosts: all
  vars:
    _phdz_private_vars_path: >-
      {{ lookup('env', 'HOME') + '/.private/ansible/vars/home.yaml' }}
  pre_tasks:
    - name: Check if private vars file exists
      ansible.builtin.stat:
        path: "{{ _phdz_private_vars_path }}"
      register: _phdz_private_vars_file
  tasks:
    - name: Run config only when private vars file is missing
      block:
        - name: Apply homeshick configuration
          ansible.builtin.include_role:
            name: phdz_homeshick
        - name: Secure home
          ansible.builtin.include_role:
            name: phdz_secure_home
      when: not _phdz_private_vars_file.stat.exists

- name: User level configuration (must not run as sudo)
  become: false
  gather_facts: true
  hosts: all
  vars:
    _phdz_private_vars_path: >-
      {{ lookup('env', 'HOME') + '/.private/ansible/vars/home.yaml' }}
  vars_files:
    - "{{ _phdz_private_vars_path }}"
  pre_tasks:
    - name: Debug which private vars file was loaded
      ansible.builtin.debug:
        msg: Loaded private vars from {{ _phdz_private_vars_path }}
  roles:
    - phdz_gpg_keys
    - phdz_ssh_keys
    - phdz_nix_home_manager
    - phdz_secure_home # Should almost always be last
