---
- name: User level configuration (does not run as sudo)
  become: false
  gather_facts: true
  hosts: all
  pre_tasks:
    - name: Set private vars path (XDG aware)
      ansible.builtin.set_fact:
        _phdz_private_vars_path: >-
          {{ lookup('env', 'HOME') + '/.private/ansible/vars/home.yaml' }}

    - name: Include local private vars if present
      ansible.builtin.include_vars:
        file: "{{ _phdz_private_vars_path }}"
      when: _phdz_private_vars_path is file
      ignore_errors: true

    - name: Debug which private vars file was loaded
      ansible.builtin.debug:
        msg: >-
          {% if _phdz_private_vars_path is file %}
          Loaded private vars from {{ _phdz_private_vars_path }}
          {% else %}
          No private vars file found ({{ _phdz_private_vars_path }})
          {% endif %}

  roles:
    - phdz_homeshick
    - phdz_gpg_keys
    - phdz_ssh_keys
    - phdz_nix_home_manager
    - phdz_secure_home # Should almost always be last

...
