---
- name: Common Ansible Playbook
  gather_facts: true
  hosts: all
  vars_files:
    - '{{ lookup("env", "HOME") + "/.private/ansible/vars/dev-vm.yaml" }}'
  roles:
    - phdz_linux_baseline
    - phdz_nix
    # - phdz_dev_user
