ansible==13.5.0
ansible-compat==26.3.0
ansible-core==2.20.4
ansible-lint==26.4.0
attrs==26.1.0
black==26.3.1
bracex==2.6
certifi==2026.2.25
cffi==2.0.0
click==8.3.2
cryptography==47.0.0
distro==1.9.0
enrich==1.2.7
filelock==3.25.2
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
molecule==26.3.0
molecule-plugins==25.8.12
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
resolvelib==1.2.1
rich==14.3.3
rpds-py==0.30.0
ruamel.yaml==0.19.1
setuptools==82.0.1
subprocess-tee==0.4.2
wcmatch==10.1
wheel==0.46.3
yamllint==1.38.0
